body{
    /* Ponemos el fondo */
    background-image: url(Imágenes/fondo_hornet.webp);
    background-size: cover;
    background-attachment: fixed;
    /* Definimos las medidas del body */
    width: 100vw;
    height: 100vh;
    /* Quitamos margin y padding */
    margin: 0px;
    padding: 0px;
    /* Desaparecemos a navegación */
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: rgb(159, 178, 247);
}

p{
    color: rgb(159, 178, 247);
    background-color: rgb(49, 50, 64);
    border-radius: 100%;
}

/* Título */
#titulo{
    /* Display flex */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Parte central */
#central{
    flex: 2;
    display: flex;
    flex-direction: row;
}
/* Menu */
#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu nav{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#menu nav a{
    flex: 1;
    border: 5px groove black;
    background-color: rgb(49, 50, 64);
    text-align: center;
    align-content: center;
}

.menu a:hover{
    transform: scale(1) translateY(-10px);
    transition: transform 0.5s;
    box-shadow: 0px 4px 12px rgb(91, 106, 162);
    background-color: rgb(91, 106, 162);
}
/* Grid */